# User config
/config/config.sh
.aliases

# Output
dev
prod

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Exclude kdevelop files
*.kdev*

# We don't store in git the content of data
/*data
/*in
/*infra

# Misc
*.map
!*.in.map
*.old

# Exclude frequently wrong way to do things
*_copie*
